@if (isShowSpinner) {
  <div class="spinner">
    <p-progressSpinner ariaLabel="loading" />
  </div>
} @else {
  <p-table
    [value]="tableData"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [customSort]="true"
    [lazy]="true"
    (onSort)="customSort($event)"
  >

    <ng-template pTemplate="header">
      <tr>
        <th colspan="9">
          <input type="text" pInputText [formControl]="search" />
        </th>
      </tr>
      <tr>
        <th></th>
        <th>Full Name</th>
        <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
        <th pSortableColumn="address">Address <p-sortIcon field="address" /></th>
        <th pSortableColumn="balance">Balance <p-sortIcon field="balance" /></th>
        <th pSortableColumn="company">Company <p-sortIcon field="company" /></th>
        <th pSortableColumn="favoriteFruit">Fav Fruit <p-sortIcon field="favoriteFruit" /></th>
        <th>Tags</th>
        <th>Active</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowValue>
      <tr>
        @let fullName = getFullName(rowValue);
        <td>
          <p-avatar 
            [image]="rowValue.picture"
            shape="circle" 
          />
        </td>
        <td>{{ fullName }}</td>
        <td>{{ rowValue.age }}</td>
        <td>{{ rowValue.address }}</td>
        <td>{{ rowValue.balance }}</td>
        <td>{{ rowValue.company }}</td>
        <td>
          <p-tag [value]="rowValue.favoriteFruit" [severity]="getFavFruit(rowValue.favoriteFruit)"/>
        </td>
        <td>
          <p class="truncate" [title]="rowValue.tags">{{ rowValue.tags }}</p>
        </td>
        <td>
          <p-checkbox 
            [(ngModel)]="rowValue.isActive" 
            [disabled]="true" 
            [binary]="true" 
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [rows]="rows" 
    [totalRecords]="totalCount" 
    [rowsPerPageOptions]="[5, 10, 20, 30]" 
  />

  <p-dialog 
    [modal]="true"
    [(visible)]="isVisible" 
    [closable]="false"
    [draggable]="false"
  >
    <p-progressSpinner ariaLabel="loading" />
  </p-dialog>
}